/**.button_valider-espace-inter{
  width: 100%;
  margin-top: 20px;
}
.button_annuler-espace-inter{
  width: 100%;
}**/

.containe::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.containe::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
}

.containe::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}
#inputNomber-for-periode{
  width: 95%;
 }
.btn-annuler-examForm{
  margin-right: 15px;
  width: "210px"
}
.btn-ajouter-examForm{
  width: "210px"
}
.btn-suivant-modelForm{
  width: 187px;
}
.btn-annuler-modelForm{
  margin-right: 8px;
  width: 187px;
}
.App {
  text-align: center;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:#282c34 ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/***************************************************/
/******************* EUI ***************************/
/***************************************************/


/*****************************  euiModalHeader *****************/
/* .euiModalHeader {
  background: #5D9AD4 0% 0% no-repeat padding-box;
  border-radius: 10px 10px 0px 0px;
  height: 89px;
  opacity: 1;
}

.euiModal__closeIcon {
  background-color: none;
} */


/***************************** CUSTOM BUTTON *****************/
/*.euiModal__flex .euiModalBody .euiModalBody__overflow {
  /* overflow-y: hidden;
}*/



.euiModal__flex .euiModalBody .euiModalBody__overflow{
  margin-right: 6px;
}
.euiModal__flex .euiModalBody .euiModalBody__overflow::-webkit-scrollbar {
  width: 8px;        
}

.euiModal__flex .euiModalBody .euiModalBody__overflow::-webkit-scrollbar-track {
  background: whitesmoke;        /* color of the tracking area */
}

.euiModal__flex .euiModalBody .euiModalBody__overflow::-webkit-scrollbar-thumb {
  background-color: #5d9ad4;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid #5d9ad4;  /* creates padding around scroll thumb */
}

.euiModal__flex .euiModalBody .euiModalBody__overflow {
  padding-left: 0;
  padding-right: 0;
}
.euiModal .euiModal__flex {
  max-height: 90vh !important;
}

.euiModal .euiModalHeader {
  background: #5D9AD4 0% 0% no-repeat padding-box;
  border-radius: 10px 10px 0px 0px;
  height: 89px;
  opacity: 1;
}
.euiModal .euiButton--primary {
  background: #5D9AD4;
}
.euiModal .euiModal__closeIcon {
  background-color: #5D9AD4;
  color: #4B759C;
  height: 19px;
  width: 19px;
  display: none;
}

/** ------------------ ***/
.nombre-occurence-nomberField{
  max-width: "100%";
  margin-left: "15%";
}

.euiFieldNumber euiFieldNumber--fullWidth{
  width: 100%; 
  color: rgb(93, 154, 212);
}
.euiFieldText euiFieldText--fullWidth{
  letter-spacing: 0px; 
  color: rgb(93, 154, 212); 
  font-size: 20px; 
  border-color: rgb(112, 112, 112);
}


.euiModalBody .euiFieldText, .euiModalBody .euiFieldNumber, .euiModalBody .euiSelect {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 7px;
  opacity: 1;
  height: 40px;
}

.euiModal .button_cancel {
  border: 3px solid #5D9AD4;
  border-radius: 36px;
  opacity: 1;
  width: 186px;
  height: 59px;
  font: normal normal normal 27px/37px Open Sans;                                
}

.euiModal .button_cancel_small{
  border: 3px solid #5D9AD4;
  border-radius: 39px;
  opacity: 1;
  width: 210px;
  height: 48px;
  margin-right: 46px;
  font: normal normal normal 27px/37px Open Sans;
}

.euiModal .button_next {
  border-radius: 41px;
  opacity: 1;
  width: 187px;
  height: 59px;
  margin-left: 72px;
  font: normal normal normal 27px/37px Open Sans;
}

.euiModal .button_add {
  border-radius: 39px;
  opacity: 1;
  width: 210px;
  height: 48px;
  margin-left: 15px;
  font: normal normal normal 27px/37px Open Sans;
}

.euiFlexItem  .button_finished {
  opacity: 1;
  width: 210px;
  height: 48px;
  font: normal normal normal 27px/37px Open Sans;
  background: #134058 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 6px #00000029 !important;
  background-color: #134058 !important;
  border-radius: 32px;
}
.euiFlexItem  .button_finished_new{
  opacity: 1;
  width: 210px;
  height: 48px;
  font: normal normal normal 27px/37px Open Sans;
  box-shadow: 3px 3px 6px #00000029 !important;
  background-color: #134058 !important;
  border-radius: 32px;
  display: block;
  margin-left: 83%;
  margin-top: 50px;

}

.icon_container {
  margin-right: auto;
  margin-right: -4px;
}

.icon {
  margin: auto;
}

.icon_ellipsis span{
  margin-top: 27px;
  cursor: pointer;
}

.examenItem_rigth .euiFlexGroup{
  margin-left: auto;
}

.examenItem_label {
  font: normal normal 600 20px/27px Open Sans;
  letter-spacing: 0px;
  opacity: 1;
}

.euiModal .button_add {
  border-radius: 39px;
  opacity: 1;
  width: 210px;
  height: 48px;
  margin-left: 15px;
  font: normal normal normal 27px/37px Open Sans;
}

.euiFlexItem  .button_finished {
  opacity: 1;
  width: 210px;
  height: 48px;
  font: normal normal normal 27px/37px Open Sans;
  background: #134058 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 6px #00000029 !important;
  background-color: #134058 !important;
  border-radius: 32px;
}

.icon_container {
  margin-right: auto;
  margin-right: -4px;
}

.icon {
  margin: auto;
}

.icon_ellipsis span{
  margin-top: 7px;
  cursor: pointer;
}

.examenItem_rigth .euiFlexGroup{
  margin-left: auto;
}

.examenItem_label {
  font: normal normal 600 20px/27px Open Sans;
  letter-spacing: 0px;
  opacity: 1;
}


.examenItem {
  width: 100%;
  height: 42px;
  background: #C9EBD7 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  padding-left: 41px;
  padding-right: 41px;
  /*margin-left: -55px !important;*/
}

.examenItemContainer {
  margin-bottom: 5px;
}

.examenItem .examen_name {
  margin-left: -16px;
}

.euiForm .btn_group {
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.btn_group .button_cancel_me
{
  font-size: 25px;
  border: 3px solid rgb(93, 154, 212);
  width: 25%;
  height: 49px;
  color: rgb(93, 154, 212);
  border-radius: 39px;
  opacity: 1;
}

.btn_group .button_next_me
{
  font-size: 25px;
  width: 25%;
  color: white;
  height: 49px;
  background: rgb(93, 154, 212) 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 6px #00000029 !important;
  background-color: rgb(93, 154, 212) !important;
  border-radius: 32px;
  opacity: 1;
}

.btn_group .xs
{
  width: 187px;
  margin-left: auto;
}

.modelFormContainer {
  width: 1057px;
  margin-top: 5px;
  /* height: 491px; */
}

.examenFormContainer {
  width: 1361px;
  margin-top: 5px;
}
.rendezvousFormContainer{
  top: 80px;
width: 1361px;
background: var(--unnamed-color-ddeaf6) 0% 0% no-repeat padding-box;
background: #DDEAF6 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;

}

.euiFlexGroup .delaiInterExamen {
  margin-left: 47px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  padding: 6px;
  text-decoration: underline;
  font: normal normal normal 15px/20px Open Sans;
  letter-spacing: 0px;
  color: #134058;
  opacity: 1;
}

.euiFlexGroup .horizontalRule {
  background-color: #5D9AD4;
}
/***************************** CARD BUTTON ******************/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formulaire label {
  color: #777;
  font-family: calibri;
  margin-bottom: -5px;
}

.nomexam span {
  color: #5d9ad4;
}

hr {
  color: skyblue;
}

.numexam span {
  color: #444;
  font-size: 130%;
  font-family: calibri;
}
.icone {
  color: #5d9ad4;
}

.checkbox {
  margin-left: 2.1%;
}

/* For extremely small screen devices (595px and below) */

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 70rem !important;
  }
}

/**@media only screen and (min-width: 359px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 30rem !important;
  }
}**/
@media screen and (max-width: 370px) and (min-width : 361px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 22.5rem !important;
  }
}

@media screen and (max-width: 380px) and (min-width : 371px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 24rem !important;
  }
}
@media screen and (max-width: 640px) and (min-width : 0px) {
  .btn-annuler-examForm{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
   }
   .btn-ajouter-examForm{
    width: 100%;
   }
}
@media screen and (max-width: 446px) and (min-width : 0px) {
 
 .btn-suivant-modelForm{
   width: 100%;
 }
 .btn-annuler-modelForm{
   width: 100%;
   margin-bottom: 10px;
   margin-top: 10px;
 }
 .btn_group{
   display: flex;
   flex-direction: column;
 }
 .btn_group .button_cancel_me{
  width: 100%;
 }
 .btn_group .button_next_me{
   width: 100%;
}
}
@media screen and (max-width: 510px) and (min-width : 500px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 30rem !important;
  }
 
}
@media screen and (max-width: 520px) and (min-width : 511px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 31rem !important;
  }
 
}
@media screen and (max-width: 530px) and (min-width : 521px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 32rem !important;
  }
 
}
@media screen and (max-width: 540px) and (min-width : 531px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 32.5rem !important;
  }
 
}
@media screen and (max-width: 550px) and (min-width : 541px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 32rem !important;
  }
 
}
@media screen and (max-width: 560px) and (min-width : 551px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 33rem !important;
  }
 
}
@media screen and (max-width: 768px) and (min-width : 0) {
 
  .radio-second-container{
    justify-content: space-between;
    /**margin-right: -100px;**/
  }
  .btn_group .button_cancel_me
{
  width: 100%;  
}

.btn_group .button_next_me
{
  width: 100%;
  margin-bottom: 20px;
}
}
@media screen and (max-width: 574px) and (min-width : 560px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 33rem !important;
  }
  .radio-first-container{
    padding-left: 40px;
  }
}

@media only screen and (min-width: 574px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 40rem !important;
  }
}

@media only screen and (min-width: 600px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 40rem !important;
  }
}

@media only screen and (min-width: 690px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 40rem !important;
  }
}

@media screen and  (max-width : 767px) and (min-width : 766px) {
  .euiModal{
    margin-left:3%;
  }
}

@media screen and  (max-width : 767px) and (min-width : 0px) {
  .euiFieldText euiFieldText--fullWidth{
    letter-spacing: 0px; 
    color: rgb(93, 154, 212); 
    font-size: 20px; 
    border-color: rgb(112, 112, 112);
    width : 80%;
  }

  #inputNomber-for-periode{
 width: 100%;
}

  .inputSelect-for-periode{
    margin-top: 15px;
  }
}

@media screen and  (max-width : 520px) and (min-width : 500px) {
  @media screen and  (max-width : 520px) and (min-width : 500px) {
  .euiModal{
    margin-left:2%;
  }
}
}
@media screen and  (max-width : 540px) and (min-width : 520px) {
  .euiModal{
    margin-left:2%;
  }
}
@media screen and  (max-width : 560px) and (min-width : 540px) {
  .euiModal{
    margin-left:3.5%;
  }
}
@media screen and  (max-width : 573px) and (min-width : 560px) {
  .euiModal{
    margin-left:4%;
  }
}
@media only screen and  (max-width : 590px) and (min-width : 574px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 30rem !important;
  }
  .euiModal{
    margin-left:9%;
  }
}
@media screen and (max-width: 640px) and (min-width : 591px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 30rem !important;
  }
  @media screen and (max-width: 610px) and (min-width : 591px) {
  .euiModal{
    margin-left:10%;
  }
}
@media screen and (max-width: 640px) and (min-width : 610px) {
  .euiModal{
    margin-left:12%;
  }
}
}

@media screen and (max-width: 645px) and (min-width : 641px) {
  .euiModal{
    margin-left:0%;
  }
}
@media screen and (max-width: 650px) and (min-width : 646px) {
  .euiModal{
    margin-left:0.7%;
  }
}
@media screen and (max-width: 670px) and (min-width : 651px) {
  .euiModal{
    margin-left:1.5%;
  }
}
@media screen and (max-width: 690px) and (min-width : 671px) {
  .euiModal{
    margin-left:3%;
  }
}
@media screen and (max-width: 710px) and (min-width : 691px) {
  .euiModal{
    margin-left:4.5%;
  }
}
@media screen and (max-width: 730px) and (min-width : 711px) {
  .euiModal{
    margin-left:5.5%;
  }
}
@media screen and (max-width: 750px) and (min-width : 731px) {
  .euiModal{
    margin-left:6.5%;
  }
}
@media screen and (max-width: 765px) and (min-width : 751px) {
  .euiModal{
    margin-left:7.5%;
  }
}

@media only screen and (min-width: 766px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 45rem !important;
  }
}

@media only screen and (min-width: 971px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 56rem !important;
  }
}

@media only screen and (min-width: 1032px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 63rem !important;
  }
}

@media only screen and (min-width: 1100px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 65rem !important;
  }
}


/* @media only screen and (min-width: 1230px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 70rem !important;
  }
}

@media only screen and (min-width: 1270px) {
  div.espacement_inter_examen_EuiModalBody{
    width: 70rem !important;
  }
} */