/* ----------------------------------------------alaxione espacement_inter_examen_modal custom css-----------------------------------------------*/
.espacement_inter_examen_EuiModalHeader{
   background-color:#5D9AD4;
   margin-bottom:0px;
   height:60px;
}
.espacement_inter_examen_EuiModalBody p{
   margin-top:20px;
   margin-bottom:20px;
}
.espacement_inter_examen_EuiModalBody_form_group{
  display:inline-block;
  width:300px;
}
.espacement_inter_examen_EuiModalBody_form_group_righ_element{
  margin-right:15px;
}
.espacement_inter_examen_EuiModalFooter_left_button{
  border-radius:20px 20px 20px 20px;	
  background-color:white;
  border:2px solid #5D9AD4;
  color:#5D9AD4;
}
.espacement_inter_examen_EuiModalFooter_right_button{
  border-radius:20px 20px 20px 20px;	
}
/*@media all and (min-width: 1280px)
{
  body
  {
   padding-left:70px;
   padding-right:70px;   
 }
}
@media all and (max-width: 1024px)
{
 #recherche
  {
    width:70%;
 }
}*/