hr
{
    color: skyblue;
}

.Modifexamen_me
{
    width: 960px;
}

.icone_me
{
    color: #5D9AD4;
}

.button_cancel_me
{
    width: 150px;
    height: 33px;
    font-family: calibri ;
    color: #1D3D5B;
    font-size: 140%;
    margin-right: 35%;
    border: 3px solid #1D3D5B;
     border-radius: 36px;
    opacity: 1;
}

.button_next_me
{
    width: 180px;
    height: 33px;
    margin-left: 35%;
    font-family: calibri !important;
    font-size: 140% !important;
    background-color: #1D3D5B !important;
    border: 1px solid #1D3D5B !important;
    border-radius: 41px;
    opacity: 1;
}

.petit_texte
{
    color: #5D9AD4;
}