/**************** RECAPITULATIF DES EXAMENS *****************/
.exam-card-title {
  margin-bottom: 5px;
  font-weight: bold;
}

.exam-card-title, #iconList, .spec {
  color: #1d3d5b;
}

.exam-card-content {
  width: 480px;
  /* background: #C9EBD7 0% 0% no-repeat padding-box; */
  box-shadow: 0px 3px 6px #00000029;
  font-size: 12px;
  padding: 10px 2px 10px 10px;
  border-radius: 3px;
  opacity: 1;
}

.card-content-header,
.first-div,
.second-div {
  display: flex;
  justify-content: space-between;
}

.card-content-header,
.first-div {
  margin-bottom: 10px;
}

.praticien, .date {
  /* background-color: red; */
  width: 40%;
}

.rue, .heure {
  /* background-color: yellow; */
  width: 60%;
}

#icon {
  margin-right: 5px;
  color: #5d9ad4;
}

.praticien,
.rue,
.date,
.heure {
  display: flex;
  align-items: center;
}

.spec {
  font-size: 12px;
  font-weight: bold;
}