.baseModalWrapper {
  height: auto;
}

/* Small Devices (Portrait Tablets & Small Desktops) */

@media (min-width: 768px) and (max-width: 991px) {
}

/* Extra Small Devices (Landscape Phones & Portrait Tablets) */

@media (max-width: 767px) {
  .modal__form__button__container {
    justify-content: space-between !important;
  }
  .periode_recherche_group_inputs {
    padding: 0 12px;
  }

  .exam-item-infos {
    display: none;
  }
  .examen__form__button__container {
    justify-content: space-between !important;
  }
  .ExamenFormCancel_btn {
    width: 100%;
    margin-right: 0 !important;
  }
  .ExamenFormAdd_btn {
    font-size: 27px;
    color: #fff;
    width: 100%;
    height: 48px;
    border: 3px solid #5d9ad4;
    border-radius: 35px;
    /* margin-left: 55%; */
    text-decoration: none;
    /* margin-top: -49px */
  }

  .exam-inter-footer {
    display: block !important;
  }

  .inter-cancel {
    margin-bottom: 20px;
  }

  .inter-cancel,
  .inter-add {
    width: 100% !important;
  }

  .custom-footer-group {
    bottom: 60px !important;
    margin-bottom: 10px !important;
  }
}

@media (max-width: 457px) {
  .custom-footer-group {
    /* display: none !important; */
    position: relative !important;
    bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: -60px !important;
  }

  .custom-button {
    width: 100% !important;
    margin-top: 10px !important;
  }

  .button-valid {
    margin-top: 20px !important;
  }
}

@media (max-width: 766px) and (min-width: 481px) {
  .ExamenFormCancel_btn,
  .ExamenFormAdd_btn {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .btn-annuler-examForm {
    margin-right: 0;
  }
}

/* Extra Small Devices (Portrait Phones & Smaller Devices) */

@media (max-width: 480px) {
  .modal__form__button__container {
    justify-content: space-between !important;
  }
  .button_global {
    width: 9rem !important;
    height: 45px !important;
    font-size: 16px !important;
  }
  .button_global > span > span.euiButton__text {
    margin-bottom: 0 !important;
    height: 22px;
  }

  .ExamenFormCancel_btn,
  .ExamenFormAdd_btn {
    width: 100% !important;
  }

  .btn-annuler-modelForm,
  .btn-suivant-modelForm {
    width: 100% !important;
  }

  .btn-annuler-modelForm {
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 1033px) {
  .divisor-btn {
    max-width: 25%;
    width: 25%;
  }
  @media screen and (max-width: 766px) {
    .divisor-btn {
      max-width: 30%;
      width: 30%;
    }

    @media screen and (max-width: 641px) {
      .period-recherche-label {
        display: none;
      }
      .dividor-btn-text {
        display: none;
      }
      .dividor-btn-icon {
        text-align: center;
        size: 30px;
        margin-left: 5px;
      }
      .divisor-btn {
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .rdv-calendarIcon {
    top: 51.8% !important;
    right: 3.7% !important;
  }

  .rdv-calendarIcon2 {
    top: 67.5% !important;
    right: 3.7% !important;
  }
}

@media only screen and (max-width: 480px) {
  .rdv-calendarIcon {
    top: 49.2% !important;
    right: 5.6% !important;
  }

  .rdv-calendarIcon2 {
    top: 64.2% !important;
    right: 5.6% !important;
  }
}

@media only screen and (max-width: 480px) {
  .rdv-calendarIcon {
    top: 48.9% !important;
  }

  .rdv-calendarIcon2 {
    top: 64.3% !important;
  }
}

@media only screen and (max-width: 431px) {
  .rdv-calendarIcon {
    top: 49.6% !important;
    right: 6% !important;
  }

  .rdv-calendarIcon2 {
    top: 63.7% !important;
    right: 6% !important;
  }
}

@media only screen and (max-width: 446px) {
  .rdv-calendarIcon {
    top: 47.8% !important;
  }

  .rdv-calendarIcon2 {
    top: 62.5% !important;
  }
}

@media only screen and (max-width: 431px) {
  .rdv-calendarIcon {
    top: 49.5% !important;
  }

  .rdv-calendarIcon2 {
    top: 63.6% !important;
  }
}

@media only screen and (max-width: 375px) {
  .rdv-calendarIcon {
    top: 56.3% !important;
    right: 8.8% !important;
  }

  .rdv-calendarIcon2 {
    top: 72.3% !important;
    right: 8.8% !important;
  }
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline-element {
    margin: 0 0;
  }
}

@media only screen and (max-width: 1169px) {
  .dotContainer-right {
    left: -41px !important;
  }

  .custom-timeline {
    padding-top: 160px !important;
  }

  .custom-timeline-group {
    padding-top: 50px !important;
  }

  .custom-bar {
    left: -30px !important;
    z-index: -1;
  }

  .vertical-timeline-element-content .vertical-timeline-element-date {
    /* margin-top: -50px !important; */
    margin-left: -49px !important;
    visibility: visible;
    margin-top: -35px !important;
  }

  .custom-vertical-timeline-element-group
    > div
    .vertical-timeline-element-date {
    margin-top: -50px !important;
  }

  .custom-vertical-timeline-element {
    padding-right: 50px;
  }

  .custom-vertical-timeline-element-group {
    padding-right: 50px !important;
  }

  .custom-vertical-timeline-element > div {
    width: 100% !important;
    margin-bottom: 35px !important;
  }

  .custom-vertical-timeline-element-group > div {
    width: 100% !important;
    /* margin-bottom: 45px !important; */
  }
}

.vertical-timeline--two-columns
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
  display: block !important;
  top: -5px !important;
  left: 128.5% !important;
  font-size: 10px !important;
  background-color: white !important;
  opacity: 1 !important;
}

.vertical-timeline--two-columns
  .vertical-timeline-element.vertical-timeline-element--right
  .vertical-timeline-element-content
  .vertical-timeline-element-date,
.vertical-timeline--two-columns
  .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left)
  .vertical-timeline-element-content
  .vertical-timeline-element-date {
  left: auto !important;
  right: 129% !important;
  text-align: right;
  display: block !important;
}
