@media (max-width: 767px) {
    .ExamenFormCancel_btn{
        font-size: 27px;
        color: #5D9AD4;
        width: 210px;
        height: 48px;
        border: 3px solid #5D9AD4;
        border-radius: 35px;
        margin-right: 55% !important;
        text-decoration: none,
    }
    .ExamenFormAdd_btn{
    font-size: 27px;
    color: #fff;
    width: 210px;
    height: 48px; 
    border: 3px solid #5D9AD4; 
    border-radius: 35px; 
    margin-left: 55%;
    text-decoration: none;
    margin-top: -49px
    }
  }